@charset "UTF-8";

@import 'modules/variable.scss';

@import 'node_modules/normalize.scss/normalize.scss';

body {
    letter-spacing: 0;
    font: {
        weight: 400;
        style: normal;
        family: 'Open Sans', PingFang SC, Hiragino Sans GB, Microsoft YaHei, STHeiti,
            WenQuanYi Micro Hei, Helvetica, Arial, sans-serif;
        size: 16px;
    }
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: 'liga' on;
    color: var(--farallon-text-color);
    line-height: 1.8;
    background-color: var(--farallon-background-gray);
    // background-color: rgb(23, 23, 26);
    // background-image: url(../images/gradient-dark.svg);
    // background-position: top center;
    // background-repeat: no-repeat;
    // background-size: 100% auto;
}

h1,
h2,
h3,
h4,
h5 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

button,
input,
textarea {
    appearance: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: 'Open Sans', PingFang SC, Hiragino Sans GB, Microsoft YaHei, STHeiti,
        WenQuanYi Micro Hei, Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: var(--farallon-text-color);
}

.main {
    background-color: var(--farallon-background-white);
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    position: relative;
    &::after {
        aspect-ratio: 1/3;
        background-image: linear-gradient(
            to right,
            var(--farallon-griedent-start),
            var(--farallon-griedent-end)
        );
        border: 0;
        border-radius: 9999px;
        bottom: calc(100% - 100px);
        filter: blur(44px);
        opacity: 0.2;
        position: absolute;
        right: 0;
        left: 0;
        content: '';
    }
}

.site--main {
    padding: 50px 80px;
}

@media (max-width: 820px) {
    .site--main {
        padding: 40px;
    }
}

@media (max-width: 768px) {
    .site--main {
        padding: 3.5%;
    }
}

@import 'templates/footer.scss';

@import 'templates/header.scss';

@import 'modules/post.scss';

@import 'templates/single.scss';

@import 'modules/graph.scss';

@import 'modules/comment.scss';

@import 'templates/archive.scss';

@import 'templates/map.scss';

@import 'templates/about.scss';

@import 'templates/douban.scss';

@import 'templates/404.scss';

@import 'modules/related.scss';

.notice--wrapper {
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    font-size: 12px;
    width: 80%;
    max-width: 800px;
    padding: 10px 15px;
    border-radius: 8px;
    position: fixed;
    z-index: 1000;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    //transform: translateY(-100px);
    transition: 0.5s transform;
    //  &.is-active {
    //transform: translateX(-50%);
    //  transform: translateY(0);
    // }
}

.share--action {
    text-align: center;
    font-size: 12px;
    color: var(--farallon-text-light);
    span {
        text-decoration: underline;
        cursor: pointer;
    }
}

.u-cursorPointer {
    cursor: pointer;
}

#cancel-comment-reply-link {
    font-size: 12px;
    color: var(--farallon-text-light);
    &:hover {
        color: var(--farallon-text-color);
    }
}
