.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--farallon-background-white-opacity);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

    @media (max-width: 800px) {
        flex-direction: column;
    }

    &-img-wrap {
        position: relative;
        opacity: 0;
        transition: opacity 0.5s;
        display: flex;
        align-items: center;

        &.is-finieshed {
            opacity: 1;
        }
    }
}

.zoomImgClose {
    border: 0;
    color: var(--farallon-text-light);
    background-color: var(--farallon-background-gray);
    height: 44px;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;

    svg {
        transition: 0.5s transform;
        fill: var(--farallon-text-light);
    }

    &:hover {
        svg {
            transform: rotate(90deg);
        }
    }
}

.zoomNav {
    display: flex;
    justify-content: center;
}

.mfp-arrow-left {
    position: absolute;
    opacity: 0.65;
    left: 0;
    margin: 0;
    top: 50%;
    margin-top: -55px;
    padding: 0;
    width: 90px;
    height: 110px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    color: var(--farallon-text-light);
    cursor: pointer;

    svg {
        transform: rotate(180deg);
        fill: currentColor;
    }
}

.mfp-arrow-left {
    position: absolute;
    left: 10px;
    margin: 0;
    top: 50%;
    margin-top: -55px;
    padding: 0;
    height: 44px;
    background-color: var(--farallon-background-gray);
    cursor: pointer;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border: 0;
    color: var(--text-gray-light);

    svg {
        transform: rotate(180deg);
    }

    &.disabled {
        opacity: 0.4;
        cursor: not-allowed;
    }
}

.mfp-arrow-right {
    border: 0;
    color: var(--farallon-text-light);
    position: absolute;
    right: 10px;
    background-color: var(--farallon-background-gray);
    cursor: pointer;
    margin: 0;
    top: 50%;
    margin-top: -55px;
    padding: 0;
    height: 44px;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &.disabled {
        opacity: 0.4;
        cursor: not-allowed;
    }
}

.image--nav {
    width: 120px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    transform: rotate(90deg) translateX(4%);
    text-align: right;
    pointer-events: none;
    font-size: 100px;
    max-height: 80vh;
    color: var(--farallon-text-light);
    font-style: italic;
    white-space: nowrap;

    @media (max-width: 800px) {
        transform: rotate(0deg) translateX(0);
        width: 100%;
        margin-left: 0;
        overflow-x: auto;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        font-size: 24px;
        margin-top: 30px;

        img {
            width: 64px;
        }
    }
}
