.db--container,
.doulist-item {
    --db--text-color: var(--farallon-text-color);
    --db--text-color-light: var(--farallon-text-light);
    --db--background-gray: var(--farallon-background-gray);
    --db-border-color: var(--farallon-border-color);
}

.doulist-item {
    background: linear-gradient(
        89.99999999999999deg,
        rgba(255, 233, 244, 0.3) 0%,
        rgba(234, 243, 255, 0.5) 100%
    );
    border-color: var(--farallon-border-color);
    color: var(--farallon-text-gray);

    .doulist-subject {
        .doulist-title {
            a {
                box-shadow: none !important;
                &:hover {
                    color: var(--farallon-hover-color);
                }
            }
        }
    }

    .dark & {
        background: rgba(63, 63, 70, 0.15);
    }

    @media (prefers-color-scheme: dark) {
        background: rgba(63, 63, 70, 0.15);
    }
}
