.template--map {
    padding: 50px 0 50px;
    min-height: 60vh;
}

.footer-map {
    border: 0;
    margin-top: 40px;
}

.markerPro--post {
    padding-top: 30px;
    padding-bottom: 30px;
}

.marker--tips {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    top: 10px;
    left: 10px;
    font-size: 12px;
    border-radius: 999rem;
    padding: 1px 8px;
}
