.fSearch {
    &--header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
        padding-top: 30px;
        padding-left: 120px;
        padding-right: 120px;

        @media screen and (max-width: 768px) {
            padding-left: 20px;
            padding-right: 20px;
        }

        .search-form {
            border: 1px solid var(--farallon-border-color);
            border-radius: 999rem;
            padding: 5px;

            .search-field {
                border: 0;
                background-color: rgba(0, 0, 0, 0);
                padding: 0 15px;
                font-size: 14px;
                width: 250px;
            }

            .search-submit {
                border-radius: 999rem;
                border: 0;
                background: var(--farallon-background-gray);
                font-size: 14px;
                color: var(--farallon-text-gray);
                padding: 8px 22px;
                cursor: pointer;
            }
        }
    }
}
