.archive-header {
    padding-top: 30px;
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
    align-items: center;

    .archive-header-image {
        height: 72px;
        width: 72px;
        object-fit: cover;
        border-radius: 4px;
        margin-right: 15px;
    }

    h1 {
        font-size: 24px;
        font-weight: bold;
        line-height: 1;
        margin-bottom: 5px;
    }

    .taxonomy-description {
        font-size: 18px;
        color: var(--farallon-text-gray);
    }

    & + .site--main {
        padding-top: 30px;
    }

    &__search {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
        .search-form {
            border: 1px solid var(--farallon-border-color);
            border-radius: 999rem;
            padding: 5px;
            .search-field {
                border: 0;
                background-color: rgba(0, 0, 0, 0);
                padding: 0 15px;
                font-size: 14px;
                width: 250px;
            }
            .search-submit {
                border-radius: 999rem;
                border: 0;
                background: gredient(to right, #007cf0, #00dfd8);
                font-size: 14px;
                color: var(--farallon-text-gray);
                padding: 8px 18px;
            }
        }
    }
}

@media (max-width: 768px) {
    .archive-header {
        padding-left: 3.5%;
        padding-right: 3.5%;
        h1 {
            font-size: 20px;
        }

        .taxonomy-description {
            font-size: 16px;
        }

        & + .site--main {
            padding-top: 20px;
        }
    }
}

.page--archive {
    padding-top: 20px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 30px;
}

.archive--title__year {
    font-size: 24px;
    font-weight: bold;
}

.archive--list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    .archive--item {
        border: 1px solid var(--farallon-border-color-light);
        padding: 15px;
        border-radius: 10px;
        .archive--title {
            line-height: 1.4;
            font-size: 14px;
        }
        .archive--meta {
            font-size: 12px;
            color: var(--farallon-text-gray);
        }
        &:hover {
            background-color: #fafafa;
            background: linear-gradient(
                89.99999999999999deg,
                rgba(255, 233, 244, 0.3) 0%,
                rgba(234, 243, 255, 0.5) 100%
            );
            .archive--title {
                color: var(--farallon-hover-color);
            }
        }
    }
    padding: 20px 0;
}

@media (max-width: 820px) {
    .page--archive {
        padding-left: 40px;
        padding-right: 40px;
    }
    .archive--list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .page--archive {
        padding-left: 3.5%;
        padding-right: 3.5%;
    }
}

@media (max-width: 414px) {
    .page--archive {
        padding-left: 3.5%;
        padding-right: 3.5%;
    }
    .archive--list {
        grid-template-columns: repeat(1, 1fr);
    }
}
