.site--header {
    //text-align: center;
    padding: 20px 80px;
    .avatar {
        height: 48px;
        width: 48px;
        border-radius: 3px #fff solid;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        border-radius: 100%;
    }
}
