.site--header {
    //text-align: center;
    padding: 20px 80px;
    .avatar {
        height: 48px;
        width: 48px;
        border: 3px #fff solid;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        border-radius: 100%;
        transition: 0.5s ease-in-out;
    }
    &.is-active {
        .avatar {
            height: 40px;
            width: 40px;
            position: fixed;
            top: 20px;
        }
    }
    position: relative;
    display: flex;
    align-items: center;
    nav {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 20px;
        ul {
            display: flex;
            align-items: center;
            background-color: #fff;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
            border-radius: 999rem;
            padding: 5px 30px;
            border: 1px solid rgba(0, 0, 0, 0.05);
            li {
                padding: 0 20px;
                a {
                    &:hover {
                        color: var(--text-main-color);
                    }
                }
            }
        }
    }
}

.site--url {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    .avatar {
        margin-right: 10px;
    }
}

.u-xs-show {
    display: none;
}

@media (max-width: 820px) {
    .site--header {
        padding-left: 40px;
        padding-right: 40px;
        nav {
            position: relative;
            margin-left: auto;
            ul {
                box-shadow: none;
                border: 0;
                padding: 0;
                li {
                    padding: 10px;
                }
            }
            top: 0;
            right: 0px;
            left: auto;
            transform: translateX(0%);
        }
    }
}

@media (max-width: 768px) {
    .site--header {
        padding-left: 3.5%;
        padding-right: 3.5%;
        padding-bottom: 0;
        nav {
            display: none;
        }
        .avatar {
            width: 40px;
            height: 40px;
        }
        //display: none;
    }

    .u-xs-show {
        display: inline;
    }
}
