.template--map {
    padding: 50px 0 50px;
    .hero--title {
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(90deg, #007cf0, #00dfd8);
        text-align: center;
        font-size: 26px;
        font-weight: bold;
    }
}

.footer-map {
    border: 0;
    margin-top: 40px;
}

.template--links {
    .hero--title {
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(90deg, #007cf0, #00dfd8);
        text-align: center;
        font-size: 26px;
        font-weight: bold;
    }
}

.template--linksWrap {
    padding: 50px;
}

.link-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    list-style: none;
}

.link-item {
    border-radius: 10px;
    padding: 15px;
    .sitename {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.6);
        display: flex;
        flex-direction: column;
        line-height: 1.5;
        strong {
            font-size: 16px;
            color: rgba(0, 0, 0, 0.8);
            margin-bottom: 10px;
        }
    }
    &:hover {
        background-color: #fafafa;
        background: linear-gradient(
            89.99999999999999deg,
            rgba(255, 233, 244, 0.3) 0%,
            rgba(234, 243, 255, 0.5) 100%
        );
    }
}

.markerPro--post {
    padding-top: 30px;
    padding-bottom: 30px;
}
