.template--map {
    padding: 50px 0 50px;
    .hero--title {
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(90deg, #007cf0, #00dfd8);
        text-align: center;
        font-size: 26px;
        font-weight: bold;
    }
}

.footer-map {
    border: 0;
    margin-top: 40px;
}

.template--links {
    .hero--title {
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(90deg, #007cf0, #00dfd8);
        text-align: center;
        font-size: 26px;
        font-weight: bold;
    }
}

.template--linksWrap {
    padding: 50px;
}

.link-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    list-style: none;
}

.link-item {
    border-radius: 10px;
    padding: 15px;
    .sitename {
        font-size: 12px;
        color: var(--farallon-text-gray);
        display: flex;
        flex-direction: column;
        line-height: 1.5;
        strong {
            font-size: 16px;
            color: var(--farallon-text-color);
            margin-bottom: 10px;
        }
    }
    &:hover {
        background-color: #fafafa;
        background: linear-gradient(
            89.99999999999999deg,
            rgba(255, 233, 244, 0.3) 0%,
            rgba(234, 243, 255, 0.5) 100%
        );
    }
}

.markerPro--post {
    padding-top: 30px;
    padding-bottom: 30px;
}

.template--terms {
    padding: 50px 80px;
    .page--header {
        padding: 0px 0 40px;
        text-align: center;
    }
}

.collectionCard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

    &--item {
        transition: 0.5s;
    }

    &--image {
        height: 150px;
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
        border: 1px solid var(--farallon-border-color);
    }

    &--meta {
        padding-top: 5px;
    }

    &--title {
        font-weight: 500;
        line-height: 1;
        margin-bottom: 8px;
    }

    &--description {
        font-size: 14px;
        color: var(--farallon-text-gray);
        line-height: 1.5;
    }

    &--count {
        font-size: 12px;
        color: var(--farallon-text-gray);
    }
}

@media (max-width: 920px) {
    .template--terms {
        padding: 50px 20px;
    }
    .collectionCard {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .collectionCard {
        grid-template-columns: repeat(1, 1fr);
    }
}
