.template--now {
    padding-bottom: 15px;

    .last--update {
        font-size: 14px;
        color: var(--farallon-text-light);
    }

    .now--list {
        background-color: var(--farallon-background-gray);
        padding: 10px 15px;
        border-radius: 5px;
        margin-bottom: 25px;
    }

    .now--item {
        display: flex;
        align-items: center;
        svg {
            margin-right: 5px;
        }
        font-size: 14px;
    }
}
