.template--terms {
    padding: 50px 80px;
    min-height: 60vh;

    .page--header {
        padding: 0px 0 40px;
        text-align: center;
    }
}

.tagCard {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
    padding-top: 20px;

    &--item {
        transition: 0.5s;
        padding: 8px 15px;
        border: 1px solid var(--farallon-border-color);
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        color: var(--farallon-text-gray);

        &:hover {
            .collectionCard--title {
                color: var(--farallon-hover-color);
                text-decoration: underline;
            }

            color: var(--farallon-hover-color);
        }

        &::after {
            position: absolute;
            content: attr(data-count);
            opacity: 0.15;
            bottom: -8px;
            right: -2px;
            color: var(--farallon-text-gray-lightest);
            font-size: 40px;
            font-style: italic;
            font-weight: bold;
            line-height: 1;
        }
    }
}

@media (max-width: 920px) {
    .tagCard {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 480px) {
    .tagCard {
        grid-template-columns: repeat(2, 1fr);
    }
}

.collectionCard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    padding-top: 20px;
    overflow: hidden;
    position: relative;

    &--item {
        transition: 0.5s;
        padding: 8px;
        border: 1px solid var(--farallon-border-color);
        border-radius: 5px;

        &:hover {
            .collectionCard--title {
                color: var(--farallon-hover-color);
                text-decoration: underline;
            }
        }

        &::after {
            position: absolute;
            content: attr(data-count);
            opacity: 0.15;
            bottom: -8px;
            right: -5px;
            color: var(--farallon-text-gray-lightest);
            font-size: 60px;
            font-style: italic;
            font-weight: bold;
            line-height: 1;
        }
    }

    &--image {
        height: 150px;
        width: 100%;
        object-fit: cover;
        border-radius: 3px;
    }

    &--meta {
        padding: 5px;
    }

    &--title {
        font-weight: 500;
        line-height: 1;
        margin-bottom: 8px;
    }

    &--description {
        font-size: 12px;
        color: var(--farallon-text-gray);
        line-height: 1.2;
    }

    &--count {
        font-size: 12px;
        color: var(--farallon-text-gray);
    }
}

@media (max-width: 920px) {
    .template--terms {
        padding: 50px 20px;
    }

    .collectionCard {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .collectionCard {
        grid-template-columns: repeat(1, 1fr);
    }
}
