.fAuthor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    border-top: 1px solid var(--farallon-border-color-light);
    margin-top: 20px;

    @media screen and (max-width: 768px) {
        padding: 20px 0;
        margin-top: 10px;
    }

    .avatar {
        border-radius: 100%;

        @media (max-width: 768px) {
            width: 48px;
            height: 48px;
        }
    }

    &--name {
        font-weight: bold;
        margin-top: 10px;
        font-size: 18px;

        @media (max-width: 768px) {
            font-size: 16px;
            margin-top: 5px;
        }
    }

    &--description {
        font-size: 14px;
        color: var(--farallon-text-gray);

        @media (max-width: 768px) {
            font-size: 12px;
        }
    }

    &--icons {
        margin-top: 12px;
        @include sns-icons;
        --farallon-icon-size: 20px;
    }
}
