.fWidget {
    &--item {
        padding-top: 0;
    }

    &--title {
        font-size: 16px;
        font-weight: bold;
    }
}

.fWidgetCategory {
    &--list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 12px;
        padding-top: 15px;

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 414px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &--item {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 100px;
    }

    &--image {
        width: 100%;
        height: 100px;
        object-fit: cover;
        border-radius: 5px;
    }

    &--meta {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.1) 100%);
            border-radius: 5px;
        }

        &:hover {
            &::before {
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.5) 100%);
            }
        }
    }

    &--title {
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        position: relative;
    }
}

.fWidgetAuthor {
    &--name {
        font-size: 24px;
        font-weight: bold;
        line-height: 1.2;
    }

    &--description {
        color: var(--farallon-text-gray);
        font-size: 18px;
    }
}

.footer--bar {
    padding: 0 40px;
    padding-top: 30px;

    @media (max-width: 414px) {
        padding: 0 0px;
    }
}

.top--bar {
    padding: 0 40px;
    padding-bottom: 30px;

    @media (max-width: 414px) {
        padding: 0;
    }
}
