.comment-form {
    label {
        display: block;
        margin-bottom: 0.5rem;
        font-size: 14px;
        cursor: pointer;
        line-height: 1.4;
        .required {
            color: #f00;
        }
    }
    input,
    textarea {
        width: 100%;
        resize: none;
        border-radius: 5px;
        box-sizing: border-box;
        border: 1px solid #000;
        padding: 5px 15px;
        font-size: 14px;
    }
    .submit {
        background-color: #000;
        color: #fff;
        border: 0;
        font-size: 14px;
        cursor: pointer;
        padding: 8px 30px;
        border-radius: 5px;
    }
    p {
        margin-bottom: 15px;
    }
    .comment-notes {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.6);
    }
}
.comment-reply-title {
    font-weight: bold;
    font-size: 18px;
}
.commentlist {
    list-style: none;
    .comment {
        padding: 15px 0;
    }
}

.comment-body {
    padding: 15px 0;
}

.comment-author {
    display: flex;
    align-items: center;
    .avatar {
        border-radius: 100%;
        margin-right: 10px;
    }
    .fn {
        font-style: normal;
        font-weight: bold;
        margin-right: 5px;
    }
    .says {
        display: none;
    }
}

.comment-meta {
    font-size: 14px;
}

.comment-reply-link {
    font-size: 12px;
}

.no--comment {
    text-align: center;
    padding: 30px 0;
}
