.comment-form {
    label {
        display: block;
        margin-bottom: 0.5rem;
        font-size: 14px;
        cursor: pointer;
        line-height: 1.4;
        .required {
            color: #f00;
        }
    }
    input,
    textarea {
        width: 100%;
        resize: none;
        border-radius: 5px;
        box-sizing: border-box;
        border: 1px solid #999;
        padding: 8px 15px;
        font-size: 14px;
    }
    .submit {
        background-color: #000;
        color: #fff;
        border: 0;
        font-size: 14px;
        cursor: pointer;
        padding: 8px 30px;
        border-radius: 5px;
        width: auto;
        &:hover {
            background-color: var(--farallon-text-light);
        }
    }
    p {
        margin-bottom: 15px;
    }
    .comment-notes,
    .logged-in-as {
        font-size: 12px;
        color: var(--farallon-text-gray);
    }
}
.comment-reply-title {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    small {
        margin-left: auto;
        font-weight: normal;
        font-size: 14px;
    }
}
.commentlist {
    border-top: 1px solid var(--farallon-border-color-light);
    list-style: none;
    padding-top: 10px;
    .comment {
        padding: 0px 0;
    }
    .comment-respond {
        margin-top: 20px;
        padding: 20px;
        background-color: var(--farallon-background-gray);
        border-radius: 5px;
    }
}

@keyframes comment--fresh {
    0% {
        background-color: #fff;
    }
    100% {
        background-color: rgba(255, 254, 224);
    }
}

.comment {
    &:last-child {
        & > .comment-body {
            border-bottom: 0;
        }
    }
    &.parent {
        border-bottom: 1px solid var(--farallon-border-color-light);
        &:last-child {
            border-bottom: 0;
        }
    }
}

.comment-body {
    padding: 25px 0;
    &__fresh {
        animation: comment--fresh 1.5s ease-in-out infinite alternate;
        border-radius: 5px;
    }
    .avatar {
        transition: 0.5s box-shadow;
    }
    &:hover {
        .avatar {
            box-shadow: 0 0 3px 0px var(--farallon-hover-color);
        }
    }
}

.comment--avatar {
    flex: 0 0 auto;
    margin-right: 10px;
    display: flex;
}

.comment--author {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    .comment-reply-link {
        margin-left: auto;
        &:hover {
            svg {
                fill: var(--farallon-hover-color);
            }
        }
    }
    a {
        color: var(--farallon-main-color);
        &:hover {
            color: var(--farallon-hover-color);
            text-decoration: underline;
        }
    }
}

.comment--meta {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
}

.comment--time {
    color: var(--farallon-text-light);
}

.comment-meta {
    display: flex;
    align-items: center;
    .avatar {
        border-radius: 100%;
        // margin-right: 10px;
    }
}

.comment-content {
    a {
        text-decoration: underline;
        &:hover {
            color: var(--farallon-hover-color);
        }
    }
    color: var(--farallon-text-light);
}
.children {
    margin-left: 0px;
    padding-bottom: 10px;
    .avatar {
        width: 32px;
        height: 32px;
    }
    .comment-body {
        border-bottom: 0;
        padding: 15px 0;
    }
    .comment-content {
        font-size: 14px;
    }
}

.parent > .children {
    margin-left: 50px;
}

.comment-meta {
    margin-bottom: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    .comment-metadata {
        margin-left: auto;
    }
}

.comment-reply-link {
    font-size: 12px;
}

.no--comment {
    text-align: center;
    padding: 30px 0;
}

.comments--title {
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.comment-respond {
    padding-top: 30px;
}

.comment-form-cookies-consent {
    #wp-comment-cookies-consent {
        display: none;
    }
    label {
        font-size: 14px;
        color: var(--farallon-text-gray);
        display: flex;
        align-items: center;
        position: relative;
        &::before {
            background-color: #fff;
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 100%;
            height: 16px;
            margin-right: 6px;
            vertical-align: middle;
            width: 16px;
            content: '';
        }
    }
    input:checked + label {
        &::after {
            background-color: var(--farallon-main-color);
            border-radius: 100%;
            content: '';
            position: absolute;
            left: 1px;
            height: 12px;
            margin: 2px;
            width: 12px;
        }
    }
}
