.post--item {
    padding: 25px 40px;
    //border-bottom: 1px solid #eee;
    border-radius: 5px;
    &:hover {
        background-color: #fafafa;
        background: linear-gradient(
            89.99999999999999deg,
            rgba(255, 233, 244, 0.3) 0%,
            rgba(234, 243, 255, 0.5) 100%
        );
        border-radius: 18px;
        transform: none;
        transform-origin: 50% 50% 0px;
    }
    &__status {
        .avatar {
            border-radius: 100%;
            margin-right: 10px;
        }
        header {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            time {
                color: rgba(0, 0, 0, 0.6);
                display: flex;
                align-items: center;
                font-size: 14px;
                svg {
                    margin-right: 5px;
                    fill: rgba(0, 0, 0, 0.5);
                }
            }
        }
        background-color: #fafafa;
        border-radius: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .post--title {
        font-size: 20px;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 5px;
        &:hover {
            color: var(--jl-hover-color);
        }
        & + .meta {
            margin-top: 10px;
        }
    }
    .content {
        flex: 1 1 auto;
    }
    &:last-child {
        border-bottom: 0;
    }
    .description {
        font-size: 15px;
        color: rgba(0, 0, 0, 0.65);
        line-height: 1.6;
        letter-spacing: 0.2px;
        text-align: justify;
    }
    .meta {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 2px;
        time {
            display: flex;
            align-items: center;
        }
        svg {
            margin-right: 4px;
            fill: rgba(0, 0, 0, 0.5);
            margin-left: 10px;
            &:first-child {
                margin-left: 0;
            }
        }
        a {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .cover {
        width: 150px;
        height: 100px;
        object-fit: cover;
        border-radius: 5px;
        margin-left: 20px;
        flex: 0 0 auto;
    }
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    //mask-image: linear-gradient(90deg, transparent, #fff 90px, #fff calc(100% - 90px), transparent);
    .page-numbers {
        //border-radius: 999rem;
        padding: 20px;
        &:hover {
            color: var(--jl-hover-color);
        }
        // border: 1px solid #eee;
        &.current {
            font-size: 20px;
            font-weight: bold;
            cursor: not-allowed;
            &:after {
                border: 12px solid transparent;
                background-clip: padding-box;
                content: '';
                filter: blur(36px);
                height: 50%;
                opacity: 0.8;
                position: absolute;
                width: 50%;
                //z-index: -1;
                background-image: linear-gradient(165deg, #007cf0, #00dfd8);
                left: 0;
            }
        }

        &.dots {
            color: rgba(0, 0, 0, 0.6);
        }
        position: relative;
    }
}

@media (max-width: 820px) {
    .post--item {
        padding: 15px 25px;
    }
}

@media (max-width: 768px) {
    .post--item {
        padding: 15px 0;
        &:hover {
            background-color: transparent;
        }
        .description {
            min-height: 2.6em;
            line-height: 1.3em;
            font-size: 14px;
            letter-spacing: 0;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            margin-bottom: 5px;
        }
        .cover {
            width: 75px;
            height: 75px;
        }
        .post--title {
            font-size: 18px;
        }

        .meta {
            font-size: 12px;
        }
    }
}

.post-navigation {
    position: fixed;
    bottom: 100px;
    right: 10px;
    transform: translate3d(120%, 0, 0);
    transition: 0.5s;
    line-height: 1.5;
    &.is-active {
        transform: translate3d(0, 0, 0);
    }
    .nav-links {
        display: flex;
        flex-direction: column;
    }
    .nav-previous,
    .nav-next {
        padding: 15px;
        background-color: #fff;
        width: 220px;
        a {
            display: flex;
            flex-direction: column;
        }
        margin-bottom: 10px;
        border-radius: 5px;
        background-image: linear-gradient(#fff, #fff),
            linear-gradient(
                calc(-0.8954254633948191rad),
                #8a63d2 0,
                #f81ce5 20%,
                rgba(121, 40, 202, 0) 80%
            );
        background-origin: border-box;
        background-clip: padding-box, border-box;
        border: 1px solid transparent;
        box-shadow: 0 -3px 5px -1px #ebebeb;
    }
    .meta-nav {
        font-size: 12px;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.6);
    }

    .post-title {
        font-size: 14px;
        min-height: 3em;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        &:hover {
            color: var(--jl-hover-color);
        }
    }
}

.post--cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding-bottom: 20px;
}

.post--card {
    border: 1px solid #eee;
    padding: 20px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    &:hover {
        background-color: #fafafa;
        background: linear-gradient(
            89.99999999999999deg,
            rgba(255, 233, 244, 0.3) 0%,
            rgba(234, 243, 255, 0.5) 100%
        );
        border-radius: 18px;
        transform: none;
        transform-origin: 50% 50% 0px;
    }
    .cover {
        border-radius: 10px;
        margin-bottom: 12px;
    }
    .post--title {
        font-size: 20px;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 5px;
        &:hover {
            color: var(--jl-hover-color);
        }
        & + .meta {
            margin-top: 10px;
        }
    }

    .description {
        font-size: 15px;
        color: rgba(0, 0, 0, 0.65);
        line-height: 1.6;
        //padding: 5px;
        // letter-spacing: 0.2px;
        //text-align: justify;
    }
    .meta {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 2px;
        time {
            display: flex;
            align-items: center;
        }
        svg {
            margin-right: 4px;
            fill: rgba(0, 0, 0, 0.5);
            margin-left: 10px;
            &:first-child {
                margin-left: 0;
            }
        }
        a {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
