.post--item {
    padding: 15px 0;
    border-bottom: 1px solid #eee;
    &:hover {
        background-color: #f2f2f2;
    }
    .post--title {
        font-size: 18px;
    }
    &:last-child {
        border-bottom: 0;
    }
}
