:root {
    --jl-main-color: #4370f5;
    --jl-hover-color: #3a5f9a;
    --fl-text-color: rgba(0, 0, 0, 0.84);
    --jl-text-light: rgba(0, 0, 0, 0.68);
    --jl-text-gray: rgba(0, 0, 0, 0.6);
    --jl-text-gray-lightest: rgba(0, 0, 0, 0.5);
    --jl-border-color: rgba(0, 0, 0, 0.1);
    --jl-border-color-light: rgba(0, 0, 0, 0.05);
    --fl-background-gray: #f5f7fd;
    --jl-background-gray-light: #f9f9f9;
    --jl-background-gray-lightest: #fafafa;
    --jl-background-white: rgba(255, 255, 255, 1);
    --jl-color-white: #fff;
    --jl-placeholder-color: #f4f4f4;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/OpenSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Light.woff2') format('woff2'),
        url('../fonts/OpenSans-Light.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Medium.woff2') format('woff2'),
        url('../fonts/OpenSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'mrs_saint_delafieldregular';
    src: url('../fonts/mrssaintdelafield-regular-webfont.woff2') format('woff2'),
        url('../fonts/mrssaintdelafield-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
